
@media screen and (max-width:766px){
    main {
        .intro {
            flex-direction: column;
            &__side-one {
                .jumbo-text {
                    h1 {
                        font-size: 3em !important;
                    }
                    p {
                        font-size: 1.87em !important
                    }
                }
            }
        }
    }
}

@media screen and (min-width:767px){

    
}

// @media only screen and (max-width: 991px) and (min-width: 767px)  {

// }

@media screen and (max-width:991px){
    main {
        .intro {
            flex-direction: column;
            &__side-one {
                .jumbo-text {
                    width: 100%;
                    h1 {
                        span { color: $primary-brand; }
                    }
                }
            }
            &__side-two {
                margin-top: 20px;
                .color-hex {
                    display: flex;
                    align-items: center;
                    height: 100%;
                    justify-content: center;
                    font-size: 2em;
                }
            }
        }
    }
    section#portfolio{
        .portfolio {
            flex-direction: column;
            &__item {
                &__link {
                    background-color: rgba(91, 55, 183, .8);
                    .overlay {
                        opacity: 1 !important;
                    }
                }
            }
        }
    }
}

@media screen and (min-width:992px){
	main {
        .intro {
            &__side-one {
                width: 40%;
                justify-content: flex-end;
                .jumbo-text {
                    width: 65%;
                    .btn.btn-primary {
                        max-width:  200px;
                    }
                    h1 {
                        span { color: #F3F3F3; }
                    }
                }
            }
            &__side-two {
                margin-left: 20px;
                .color-hex {
                    text-align: right;
                }
            }
        }
    }
    section#portfolio{
        .portfolio {
             &__item {
                &:hover {
                 height: 420px;
                 a {
                     background-color: rgba(91, 55, 183, .8);
                     box-shadow: 20px 20px 30px rgba(34,34,34,.4);
                     position: relative;
                     z-index: 9;
                     .overlay {
                         opacity: 1;
                     }
                 }
             }
            }
        }
     }
}