
// Global styles
:root {
    font-size: 16px;
}
html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body {
    background-color: $white;
}
.container-lg,
.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.container-lg {
    max-width: 1920px;
}
.container {
    max-width: 1100px;
}
.section-padding {
    padding: 46px 15px;
}
// Font styles
h1, h2, h3, h4, h5, h6 { 
    font-family: $primary-font; 
    font-weight: 500; 
}
h1 { font-size: 4em; }
h2 { font-size: 3.5em; }
h3 { font-size: 3em; }
h4 { font-size: 2.5em; }
h5 { font-size: 2em; }
h6 { font-size: 1.5em; }
p, li, .btn {
    font-family: $secondary-font; 
    font-weight: 500; 
}


// Custom styles
header {
    position: relative;
    margin: 0px 20px 20px 20px;
    nav {
        display: flex;
        overflow: hidden;
        .nav-bar {
            display: flex;
            align-items: center;
            #logo { 
                flex-grow: 1; 
                div {
                    height: 50px;
                    width: 50px;
                    background-color: $primary-brand;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    h1 {
                        font-size: 1.2em;
                        color: #fff;
                        line-height: 1;
                        font-weight: 400;
                    }
                }
            }
            .nav {
                &__item {
                    display: inline-block;
                    a {
                        display: block;
                        color: $primary-dark;
                        text-decoration: none;
                        padding: .5em;
                    }
                }
            }
        }
    }
}
main {
    margin: 0px 20px 20px 20px;
    .intro {
        position: relative;
        height: 85vh;
        display: flex;
        &__side-one {
            background-color: #F3F3F3;
            display: flex;
            align-items: center;
            
            .jumbo-text {
                position: relative;
                z-index: 99;
                padding: 20px;
                transition: 2s margin ease-in;
                h1 {
                    font-size: 8em;
                    font-weight: 600;
                    color: $primary-dark;
                }
                p {
                    font-size: 2em;
                    color: #515151;
                    line-height: 1.2;
                    span {
                        font-weight: bold;
                        color: $primary-brand;
                    }
                }
                .btn.btn-primary {
                    color: $primary-brand;
                    border: 2px solid $primary-brand;
                    display: block;
                    text-decoration: none;
                    text-align: center;
                    padding: 1em;
                    margin-top: 20px;
                    width: 100%;
                    transition: .18s all ease-in-out;
                    &:hover {
                        background-color: $primary-brand;
                        color: #F3F3F3;
                    }
                }
            }
        }
        &__side-two {
            position: relative;
            background-color: $primary-brand;
            width: 100%;
            height: 100%;
            .scroll {
                position: absolute;
                bottom: 0px;
                left: 0px;
                width: 100%;
                padding: 1.5em 1em;
                .scroll__text {
                    svg {
                        max-width: 30px;
                        fill: #fff;
                        border: 1px soli dred;
                        #arrowdown {
                            -webkit-animation: action 1s infinite  alternate;
                            animation: action 1s infinite  alternate;
                        }
                        text {
                            font-size: 18px;
                            font-family: $secondary-font;
                        }
                    }
                }
            }
            .color-hex {
                code {
                    color: #fff;
                    font-family: $secondary-font;
                    padding: 20px;
                    display: block;
                    font-weight: 500;
                }
            }
        }
    }
}
section#portfolio {
   position: relative;
   
   .portfolio-header {
       background-color: #F3F3F3;
       padding: 66px 15px;
       text-align: center;
       p {
            color: #515151;
            font-size: 1.2em;
            font-weight: 500;
            max-width: 600px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 16px;
       }
   }
   .portfolio {
        display: flex;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        transition: 1s all ease-in-out;
        li:nth-child(1) {
            background-image: url('../oi.jpg');
        }
        li:nth-child(2) {
            background-image: url('../pm.jpg');
        }
        li:nth-child(3) {
            background-color: $primary-brand;
            a { 
                .overlay {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                } 
            
            }
        }
        &__item {
           width: 100%;
           height: 380px;
           background-size: cover;
           background-position: 50% 50%;
           transition: .2s all ease-in-out;
           &__link {
                position: relative;
                overflow: hidden;
               text-decoration: none;
               display: block;
               color: #F3F3F3;
               display: flex;
               flex-direction: column;
               height: 100%;
               align-items: center;
               justify-content: center;
               text-align: center;
               box-shadow: 0px 0px 0px rgba(34,34,34,.4);
               transition: .2s all ease-in-out;
               .overlay {
                   opacity: 0;
                   transition: .2s all ease-in-out;
                   width: 100%;
                    .company-logo {
                        svg {
                            width: 100%;
                            max-width: 140px;
                        }
                    }
                    .company-text {
                        max-width: 300px;
                        line-height: 2;
                        margin-top: 16px;
                        margin-left: auto;
                        margin-right: auto;
                        h6 {
                            line-height: 1.2;
                        }
                        p {
                            position: relative;
                            margin-top: 20px;
                            span {
                                position: absolute;
                                bottom: 0;
                                top: 0;
                                text-align: center;
                                transition: .3s all ease-in-out;
                                svg {
                                    fill: #F3F3F3;
                                    max-width: 30px;
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
                video {
                    position: absolute;
                    width: auto;
                    height: 100vh;
                }
           }
       }
   }
}
section#portfolio.viewing {
    .portfolio {
        margin-top: 0;
        max-width: 100%;
    }
}
@-webkit-keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}