// Off white
$white: #ffffff;
$white-light: #f1f1f1;
$white-lighter: #f2f2f2;
$white-lightest: #f5f5f5;
$white-shade: #dddddd;
// Site Colors
$primary-brand: #163D80;
$secondary-brand: #C31B15;
$primary-brand-shade: #092C68;



// Site fonts
// 400,600,700
$primary-font: 'Source Sans Pro';
// 400, 500
$secondary-font: 'Montserrat';

// Site font weights
$weight-400: 400;
$weight-500: 500;
$weight-600: 600;
$weight-700: 700;

// Box shadows